name: graphql-transport-ws

on:
  push:
    paths:
      - "graphql-transport-ws/**"
    branches:
      - master
  pull_request:
    paths:
      - "graphql-transport-ws/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'maven'
          
      - name: Start up databases via Docker Compose 
        run: |
            docker compose up -d postgres
            docker ps -a              
      - name: Build graphql
        run: mvn clean install --file graphql-transport-ws/pom.xml
